html {
  box-sizing: border-box;
  background: hsl(200, 81%, 50%);
  font-family: "Comic Sans MS";
  font-size: 20px;
  font-weight: 400px;
}
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* getting flex box to work */
/* menu-container */
.listen-container {
  display: flex;
  justify-content: center;
}

.song-menu {
  padding-top: 50px;
  border: 10px solid hsl(200, 81%, 50%);
  width: 900px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.song {
  border: 1px;
  width: 400px;
  height: auto;
}

/* end flex container for listen div */

.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 100vh;
  background: url(backup.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

/*  responsive nav */
nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  background: grey;
}

.toggleNav {
  display: none;
}

.fixed-nav nav {
  position: fixed;
}

.flex-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.flex-nav li {
  background: grey;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 30px;
}

@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: nowrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
    padding: 5px;
  }
}

@media all and (max-width: 600px) {
  .flex-nav li {
    flex: 1 1 100%;
  }

  /* flex container */
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .flex-nav {
    flex-direction: column;
    order: -1;
  }

  .toggleNav {
    display: block;
    padding: 10px;
    font-weight: 600px;
    font-size: 20px;
  }

  .flex-nav ul {
    display: none;
  }
  .flex-nav .open {
    display: flex;
    flex-direction: column;
  }
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: grey;
  transition: all 0.5s;
  font-size: 20px;
}

.paw {
  background: url(pawprint.png);
  width: 64px;
  height: 65px;
}

.fixed-nav li.logo {
  max-width: 100%;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  color: blue;
  transition: all 0.2s;
  text-transform: uppercase;
  border-radius: 20px;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* bring up music video */
iframe {
  transition: all 0.5s;
}

/* move album div over */
.album-container .shop-container {
  display: flex;
  justify-content: center;
}

.albums-menu {
  width: auto;
  display: flex;
  justify-content: center;
}

.albums {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100px;
}

/* shop click-n-drag to scroll */
.shop-menu {
  min-height: 100vh;
  display: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.shopping-items {
  height: 500px;
  padding: 100px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  font-size: 0;
  perspective: 500px;
}

.shopping-items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 200px;
  height: calc(100% - 40px);
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
}

.item:nth-child(1) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(2) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(3) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(4) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(5) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(6) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(7) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(8) {
  background: url(t-shirt-cat.jpg);
}
.item:nth-child(9) {
  background: url(t-shirt-cat.jpg);
}
